body {
  background-color: var(--colour-grey-lightest);
  box-sizing: border-box;
  font-family: var(--font-body);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

a i {
  padding-right: .1875em;
}

img {
  width: 100%;
}