.container {
    margin: 0 auto;
    max-width: 90rem;
    min-width: 50rem;
}

.row {
  display: flex;
}

.col {
  padding: var(--unit);
}
.col-1-3 {
  width: calc(100% / 3);
  
}
.col-2-3 {
  width: calc(100% * 2 / 3);
}