:root {
  --colour-blue: hsl(197, 81%, 57%);
  --colour-green: hsl(174, 45%, 61%);
  --colour-red: hsl(0, 100%, 73%);
  --colour-yellow: hsl(41, 100%, 66%);
  --colour-black: #000;
  --colour-grey-dark: hsl(0, 0%, 46%);
  --colour-grey-light: hsl(0, 0%, 66%);
  --colour-grey-lighter: hsl(0, 0%, 92%);
  --colour-grey-lightest: hsl(0, 0%, 97%);
  --colour-white: #FFF;
  --font-body: Merriweather;
  --font-heading: Lato;
  --unit: 0.9375rem;
}