@import url('variables.css');
@import url('base.css');
@import url('components/flex-grid.css');
@import url('debug.css');

.container {
  counter-reset: block-number;
}

.block {
  --height-01: 70px;
  --height-02: 105px;
  --height-03: 115px;
  --height-04: 140px;
  --height-05: 175px;
  --height-06: 210px;
  --height-07: 226px;
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: var(--height-01);
}

.block::after {
  content: counter(block-number);
  counter-increment: block-number;
  display: block;
  font-size: 1.25rem;
}

.block.-height-2 {
  min-height: var(--height-02);
}

.block.-height-3 {
  min-height: var(--height-03);
}

.block.-height-6 {
  min-height: var(--height-06);
}

.block.-swatch-a {
  background-color: var(--c-tertiary);
}

.block.-swatch-b {
  background-color: var(--c-quaternary);
}

/** Small Device and up */
@media (min-width: 576px) {
  .block.-height-sm-3 {
    min-height: var(--height-03);
  }

  .block.-height-sm-5 {
    min-height: var(--height-05);
  }

  .block.-height-sm-6 {
    min-height: var(--height-06);
  }
}

/** Medium Device and up */
@media (min-width: 768px) {
  .block.-height-md-2 {
    min-height: var(--height-02);
  }

  .block.-height-md-4 {
    min-height: var(--height-04);
  }

  .block.-height-md-7 {
    min-height: var(--height-07);
  }
}