:root {
  --color-blue: hsl(197, 81%, 57%);
  --color-green: hsl(174, 45%, 61%);
  --color-red: hsl(0, 100%, 73%);
  --color-yellow: hsl(41, 100%, 66%);
  --color-black: #000;
  --color-grey-dark: hsl(0, 0%, 46%);
  --color-grey-light: hsl(0, 0%, 66%);
  --color-grey-lighter: hsl(0, 0%, 92%);
  --color-grey-lightest: hsl(0, 0%, 97%);
  --color-white: #FFF;
  --font-body: Merriweather;
  --font-heading: Lato;
  --unit: 0.9375rem;
}