.card {
  box-shadow: 1px 1px 16px -8px var(--color-black);
}
.card-blue,
.card-red {
  color: var(--color-white);
}
.card-blue {
  background-color: var(--category-blue);
}
.card-red {
  background-color: var(--category-red);
}