.frm-search {
  background-color: var(--colour-grey-lighter);
  display: flex;
}
.frm-search * {
  border: none;
}
.frm-search input {
  background-color: inherit;
  color: var(--colour-grey-light);
  font-size: 1rem;
  padding: 0 1rem;
}
.frm-search input:focus {
  background-color: inherit;
  color: var(--color);
  padding: 0 1rem;
  transition: .5s all ease;
}
.frm-search button {
  background-color: var(--color);
  color: var(--colour-white);
  font-size: 1rem;
  padding: 1rem;
}