.grid-16 {
  --cols: 12;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 94rem;
  min-width: 50rem;
  padding: 0 var(--unit);
}

.row {
  display: flex;
  width: 100%;
}

.col {
  box-sizing: border-box;
  flex: 0 1 100%;
  padding: 0 var(--unit);
}
.col-4 {
  flex-basis: calc(100% * 4 / var(--cols, 12));
}
.col-8 {
  flex-basis: calc(100% * 8 / var(--cols, 12));
}