
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

h1 {
  font-weight: 300;
  font-size: 2rem; /* 1rem = 16px */
  line-height: 1.3em;
}

h2 {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.3em;
}

h3 {
  font-weight: 300;
  font-size: 1.2rem; 
  line-height: 1.3em;
  text-transform: uppercase;
}