@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono:400');

:root {
  /**
   * Colour palette
   */
  --c-neutral-100: hsl(0, 0%, 87%);       /* AHS lichtgrijs */
  --c-neutral-400: hsl(0, 0%, 67%);       /* AHS middengrijs */
  --c-neutral-700: hsl(0, 0%, 47%);       /* AHS donkergrijs */
  --c-primary-400: hsl(39, 100%, 47%);    /* AHS oranje */
  --c-primary-700: hsl(39, 100%, 27%);
  --c-secondary-400: hsl(65, 100%, 40%);  /* AHS groen */
  --c-secondary-700: hsl(65, 100%, 20%);
  --c-accent-a-400: hsl(190, 100%, 40%);  /* AHS blauw */
  --c-accent-a-700: hsl(190, 100%, 20%);
  --c-accent-b-400: hsl(325, 100%, 40%);  /* AHS fuchsia */
  --c-accent-b-700: hsl(325, 100%, 20%);

  /**
   * Typography
   */
  --t-primary: 'Source Sans Pro', sans-serif;
  --t-secondary: var(--t-primary);
  --t-tertiary: 'Share Tech Mono', monospace;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-monospace: var(--t-tertiary);
}