@import 'variables.css';
@import 'components/grid.css';

html {
  height: 100%;
}

body {
  font-family: var(--f-body);
  font-weight: 500;
  height: inherit;
  margin: 0;
}

.container {
  padding: 0;
}

.logo {
  font-weight: normal;
}

.card-recipe {
  border: 1px solid var(--c-primary);
  box-sizing: border-box;
  height: 100%;
}

.card-recipe img,
.card-recipe picture {
  display: block;
}

.card-recipe img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-recipe h1 {
  font-size: 1rem;
  line-height: 1.1875em;
}

.card-recipe h1::before {
  color: var(--c-secondary);
  display: block;
  font-family: var(--f-secondary);
  font-size: .625em;
  letter-spacing: 0.12em;
  padding-bottom: .25em;
  text-transform: uppercase;
}

.card-recipe .no-gutter {
  padding: 0;
}

[lang=nl] .card-recipe--classic h1::before {
  content: 'klassieker';
}

[lang=nl] .card-recipe--hangover h1::before {
  content: 'katerfood';
}

[lang=nl] .card-recipe--salad h1::before {
  content: 'salade';
}

[lang=nl] .card-recipe--veggie h1::before {
  content: 'veggie'
}

/** Extra Small Device */
@media (max-width: 575.99999px) {
}

/** Small Device */
@media (min-width: 576px) and (max-width: 767.99999px) {
}

/** Medium Device */
@media (min-width: 768px) and (max-width: 991.99999px) {
}

/** Large Device */
@media (min-width: 992px) and (max-width: 1199.99999px) {
}

/** Extra Large Device */
@media (min-width: 1200px) {
  .card-recipe h1 {
    font-size: 1.375rem;
  }
}