@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  /**
   * Colour palette
   */
  --c-primary: #000;
  --c-secondary: #707070;

  /**
   * Layout
   */
  --l-gutter: 1.875rem;

  /**
   * Typography
   */
  --t-primary: 'Poppins', sans-serif;
  --t-secondary: Arial, Helvetica, sans-serif;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-secondary);
  --t-body: var(--t-primary);
}