[data-debug] .col {
  position: relative;
}
[data-debug] .col:hover::after {
  background-color: grey;
  border-radius: 5px;
  color: var(--colour-grey-lightest);
  content: attr(class);
  padding: 2px 5px;
  position: absolute;
  opacity: .5;
  top: 0;
}

.grid-16 {
  --cols: 16; /* grid met 16 kolommen */
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 567px;
  padding: 0 var(--unit);
}

.row {
  display: flex;
  padding: var(--unit) 0;
}

.col {
  box-sizing: border-box;
  flex: 0 1 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--unit);
}

@media (max-width: 575.99999px) {
  .col-1 {
    flex-basis: calc(100% * 1 / var(--cols, 12));
  }

  .col-2 {
    flex-basis: calc(100% * 2 / var(--cols, 12));
  }

  .col-3 {
    flex-basis: calc(100% * 3 / var(--cols, 12));
  }

  .col-4 {
    flex-basis: calc(100% * 4 / var(--cols, 12));
  }

  .col-5 {
    flex-basis: calc(100% * 5 / var(--cols, 12));
  }

  .col-6 {
    flex-basis: calc(100% * 6 / var(--cols, 12));
  }

  .col-7 {
    flex-basis: calc(100% * 7 / var(--cols, 12));
  }

  .col-8 {
    flex-basis: calc(100% * 8 / var(--cols, 12));
  }

  .col-9 {
    flex-basis: calc(100% * 9 / var(--cols, 12));
  }

  .col-10 {
    flex-basis: calc(100% * 10 / var(--cols, 12));
  }

  .col-11 {
    flex-basis: calc(100% * 11 / var(--cols, 12));
  }

  .col-12 {
    flex-basis: calc(100% * 12 / var(--cols, 12));
  }

  .offset-1 {
    margin-left: calc(100% * 1 / var(--cols, 12));
  }

  .offset-2 {
    margin-left: calc(100% * 2 / var(--cols, 12));
  }

  .offset-3 {
    margin-left: calc(100% * 3 / var(--cols, 12));
  }

  .offset-4 {
    margin-left: calc(100% * 4 / var(--cols, 12));
  }

  .offset-5 {
    margin-left: calc(100% * 5 / var(--cols, 12));
  }

  .offset-6 {
    margin-left: calc(100% * 6 / var(--cols, 12));
  }

  .offset-7 {
    margin-left: calc(100% * 7 / var(--cols, 12));
  }

  .offset-8 {
    margin-left: calc(100% * 8 / var(--cols, 12));
  }

  .offset-9 {
    margin-left: calc(100% * 9 / var(--cols, 12));
  }

  .offset-10 {
    margin-left: calc(100% * 10 / var(--cols, 12));
  }

  .offset-11 {
    margin-left: calc(100% * 11 / var(--cols, 12));
  }

  .offset-12 {
    margin-left: calc(100% * 12 / var(--cols, 12));
  }
}

@media (min-width: 576px) and (max-width: 767.99999px) {
  .col-sm-1 {
    flex-basis: calc(100% * 1 / var(--cols, 12));
  }

  .col-sm-2 {
    flex-basis: calc(100% * 2 / var(--cols, 12));
  }

  .col-sm-3 {
    flex-basis: calc(100% * 3 / var(--cols, 12));
  }

  .col-sm-4 {
    flex-basis: calc(100% * 4 / var(--cols, 12));
  }

  .col-sm-5 {
    flex-basis: calc(100% * 5 / var(--cols, 12));
  }

  .col-sm-6 {
    flex-basis: calc(100% * 6 / var(--cols, 12));
  }

  .col-sm-7 {
    flex-basis: calc(100% * 7 / var(--cols, 12));
  }

  .col-sm-8 {
    flex-basis: calc(100% * 8 / var(--cols, 12));
  }

  .col-sm-9 {
    flex-basis: calc(100% * 9 / var(--cols, 12));
  }

  .col-sm-10 {
    flex-basis: calc(100% * 10 / var(--cols, 12));
  }

  .col-sm-11 {
    flex-basis: calc(100% * 11 / var(--cols, 12));
  }

  .col-sm-12 {
    flex-basis: calc(100% * 12 / var(--cols, 12));
  }

  .offset-sm-1 {
    margin-left: calc(100% * 1 / var(--cols, 12));
  }

  .offset-sm-2 {
    margin-left: calc(100% * 2 / var(--cols, 12));
  }

  .offset-sm-3 {
    margin-left: calc(100% * 3 / var(--cols, 12));
  }

  .offset-sm-4 {
    margin-left: calc(100% * 4 / var(--cols, 12));
  }

  .offset-sm-5 {
    margin-left: calc(100% * 5 / var(--cols, 12));
  }

  .offset-sm-6 {
    margin-left: calc(100% * 6 / var(--cols, 12));
  }

  .offset-sm-7 {
    margin-left: calc(100% * 7 / var(--cols, 12));
  }

  .offset-sm-8 {
    margin-left: calc(100% * 8 / var(--cols, 12));
  }

  .offset-sm-9 {
    margin-left: calc(100% * 9 / var(--cols, 12));
  }

  .offset-sm-10 {
    margin-left: calc(100% * 10 / var(--cols, 12));
  }

  .offset-sm-11 {
    margin-left: calc(100% * 11 / var(--cols, 12));
  }

  .offset-sm-12 {
    margin-left: calc(100% * 12 / var(--cols, 12));
  }
}

@media (min-width: 768px) and (max-width: 991.99999px) {
  .col-md-1 {
    flex-basis: calc(100% * 1 / var(--cols, 12));
  }

  .col-md-2 {
    flex-basis: calc(100% * 2 / var(--cols, 12));
  }

  .col-md-3 {
    flex-basis: calc(100% * 3 / var(--cols, 12));
  }

  .col-md-4 {
    flex-basis: calc(100% * 4 / var(--cols, 12));
  }

  .col-md-5 {
    flex-basis: calc(100% * 5 / var(--cols, 12));
  }

  .col-md-6 {
    flex-basis: calc(100% * 6 / var(--cols, 12));
  }

  .col-md-7 {
    flex-basis: calc(100% * 7 / var(--cols, 12));
  }

  .col-md-8 {
    flex-basis: calc(100% * 8 / var(--cols, 12));
  }

  .col-md-9 {
    flex-basis: calc(100% * 9 / var(--cols, 12));
  }

  .col-md-10 {
    flex-basis: calc(100% * 10 / var(--cols, 12));
  }

  .col-md-11 {
    flex-basis: calc(100% * 11 / var(--cols, 12));
  }

  .col-md-12 {
    flex-basis: calc(100% * 12 / var(--cols, 12));
  }

  .offset-md-1 {
    margin-left: calc(100% * 1 / var(--cols, 12));
  }

  .offset-md-2 {
    margin-left: calc(100% * 2 / var(--cols, 12));
  }

  .offset-md-3 {
    margin-left: calc(100% * 3 / var(--cols, 12));
  }

  .offset-md-4 {
    margin-left: calc(100% * 4 / var(--cols, 12));
  }

  .offset-md-5 {
    margin-left: calc(100% * 5 / var(--cols, 12));
  }

  .offset-md-6 {
    margin-left: calc(100% * 6 / var(--cols, 12));
  }

  .offset-md-7 {
    margin-left: calc(100% * 7 / var(--cols, 12));
  }

  .offset-md-8 {
    margin-left: calc(100% * 8 / var(--cols, 12));
  }

  .offset-md-9 {
    margin-left: calc(100% * 9 / var(--cols, 12));
  }

  .offset-md-10 {
    margin-left: calc(100% * 10 / var(--cols, 12));
  }

  .offset-md-11 {
    margin-left: calc(100% * 11 / var(--cols, 12));
  }

  .offset-md-12 {
    margin-left: calc(100% * 12 / var(--cols, 12));
  }
}

@media (min-width: 992px) and (max-width: 1199.99999px) {
  .col-lg-1 {
    flex-basis: calc(100% * 1 / var(--cols, 12));
  }

  .col-lg-2 {
    flex-basis: calc(100% * 2 / var(--cols, 12));
  }

  .col-lg-3 {
    flex-basis: calc(100% * 3 / var(--cols, 12));
  }

  .col-lg-4 {
    flex-basis: calc(100% * 4 / var(--cols, 12));
  }

  .col-lg-5 {
    flex-basis: calc(100% * 5 / var(--cols, 12));
  }

  .col-lg-6 {
    flex-basis: calc(100% * 6 / var(--cols, 12));
  }

  .col-lg-7 {
    flex-basis: calc(100% * 7 / var(--cols, 12));
  }

  .col-lg-8 {
    flex-basis: calc(100% * 8 / var(--cols, 12));
  }

  .col-lg-9 {
    flex-basis: calc(100% * 9 / var(--cols, 12));
  }

  .col-lg-10 {
    flex-basis: calc(100% * 10 / var(--cols, 12));
  }

  .col-lg-11 {
    flex-basis: calc(100% * 11 / var(--cols, 12));
  }

  .col-lg-12 {
    flex-basis: calc(100% * 12 / var(--cols, 12));
  }

  .offset-lg-1 {
    margin-left: calc(100% * 1 / var(--cols, 12));
  }

  .offset-lg-2 {
    margin-left: calc(100% * 2 / var(--cols, 12));
  }

  .offset-lg-3 {
    margin-left: calc(100% * 3 / var(--cols, 12));
  }

  .offset-lg-4 {
    margin-left: calc(100% * 4 / var(--cols, 12));
  }

  .offset-lg-5 {
    margin-left: calc(100% * 5 / var(--cols, 12));
  }

  .offset-lg-6 {
    margin-left: calc(100% * 6 / var(--cols, 12));
  }

  .offset-lg-7 {
    margin-left: calc(100% * 7 / var(--cols, 12));
  }

  .offset-lg-8 {
    margin-left: calc(100% * 8 / var(--cols, 12));
  }

  .offset-lg-9 {
    margin-left: calc(100% * 9 / var(--cols, 12));
  }

  .offset-lg-10 {
    margin-left: calc(100% * 10 / var(--cols, 12));
  }

  .offset-lg-11 {
    margin-left: calc(100% * 11 / var(--cols, 12));
  }

  .offset-lg-12 {
    margin-left: calc(100% * 12 / var(--cols, 12));
  }
}

/**/
@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: calc(100% * 1 / var(--cols, 12));
  }

  .col-xl-2 {
    flex-basis: calc(100% * 2 / var(--cols, 12));
  }

  .col-xl-3 {
    flex-basis: calc(100% * 3 / var(--cols, 12));
  }

  .col-xl-4 {
    flex-basis: calc(100% * 4 / var(--cols, 12));
  }

  .col-xl-5 {
    flex-basis: calc(100% * 5 / var(--cols, 12));
  }

  .col-xl-6 {
    flex-basis: calc(100% * 6 / var(--cols, 12));
  }

  .col-xl-7 {
    flex-basis: calc(100% * 7 / var(--cols, 12));
  }

  .col-xl-8 {
    flex-basis: calc(100% * 8 / var(--cols, 12));
  }

  .col-xl-9 {
    flex-basis: calc(100% * 9 / var(--cols, 12));
  }

  .col-xl-10 {
    flex-basis: calc(100% * 10 / var(--cols, 12));
  }

  .col-xl-11 {
    flex-basis: calc(100% * 11 / var(--cols, 12));
  }

  .col-xl-12 {
    flex-basis: calc(100% * 12 / var(--cols, 12));
  }

  .offset-xl-1 {
    margin-left: calc(100% * 1 / var(--cols, 12));
  }

  .offset-xl-2 {
    margin-left: calc(100% * 2 / var(--cols, 12));
  }

  .offset-xl-3 {
    margin-left: calc(100% * 3 / var(--cols, 12));
  }

  .offset-xl-4 {
    margin-left: calc(100% * 4 / var(--cols, 12));
  }

  .offset-xl-5 {
    margin-left: calc(100% * 5 / var(--cols, 12));
  }

  .offset-xl-6 {
    margin-left: calc(100% * 6 / var(--cols, 12));
  }

  .offset-xl-7 {
    margin-left: calc(100% * 7 / var(--cols, 12));
  }

  .offset-xl-8 {
    margin-left: calc(100% * 8 / var(--cols, 12));
  }

  .offset-xl-9 {
    margin-left: calc(100% * 9 / var(--cols, 12));
  }

  .offset-xl-10 {
    margin-left: calc(100% * 10 / var(--cols, 12));
  }

  .offset-xl-11 {
    margin-left: calc(100% * 11 / var(--cols, 12));
  }

  .offset-xl-12 {
    margin-left: calc(100% * 12 / var(--cols, 12));
  }
}