@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

:root {
  font-family: var(--t-primary);
  font-size: 1.5rem;
  height: 100vh;
}

::selection {
  color: #000;
  background-color: #FF0;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom,
    var(--c-primary-400) 0,
    var(--c-primary-400) 20vh,
    var(--c-secondary-400) 20vh,
    var(--c-secondary-400) 40vh,
    var(--c-accent-a-400) 40vh,
    var(--c-accent-a-400) 60vh,
    var(--c-accent-b-400) 60vh,
    var(--c-accent-b-400) 80vh,
    var(--c-neutral-400) 80vh,
    var(--c-neutral-400) 100vh);
  background-repeat: no-repeat;
  background-size: var(--l-unit) 100%;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding-left: var(--l-unit);
  width: 100vw;
}

body::before {
  display: block;
  color: var(--c-neutral-400);
  font-size: calc(var(--l-unit) * 2);
  opacity: .25;
  position: fixed;
  right: 1.5vw;
  top: 1.5vw;
  z-index: 1;
}

body:lang(nl)::before {
  content: 'Arteveldehogeschool';
}

body:lang(en)::before {
  content: 'Artevelde University of Applied Sciences';
}

strong {
  color: var(--c-neutral-400);
}

ul {
  --offset: 1.5em;
  list-style: none;
  padding-left: var(--offset);
}

ul li::before {
  content: "\25A0";
  color: var(--c-secondary-400);
  font-weight: bold;
  display: inline-block;
  width: var(--offset);
  margin-left: calc(var(--offset) * -1);
}

li+li {
  padding-top: .5em;
}