:root {
  font-family: var(--t-primary);
  font-size: 1.5rem;
  /* font-size: 3.5vh; */
  height: 100vh;
}

::selection {
  color: #000;
  background-color: #FF0;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom,
    var(--c-primary) 0vh,
    var(--c-primary) 20vh,
    var(--c-secondary) 20vh,
    var(--c-secondary) 40vh,
    var(--c-tertiary) 40vh,
    var(--c-tertiary) 60vh,
    var(--c-quaternary) 60vh,
    var(--c-quaternary) 80vh,
    var(--c-quinary) 80vh,
    var(--c-quinary) 100vh);
  background-repeat: no-repeat;
  background-size: var(--l-unit) 100%;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding-left: var(--l-unit);
  width: 100vw;
}

body::before {
  display: block;
  color: var(--c-quinary);
  font-size: var(--l-unit);
  opacity: .25;
  position: fixed;
  right: 1.5vw;
  top: 1.5vw;
}

body:lang(nl)::before {
  content: 'Arteveldehogeschool';
}

body:lang(en)::before {
  content: 'Artevelde University of Applied Sciences';
}

strong {
  color: var(--c-quaternary);
}

ul {
  --offset: 1.5em;
  list-style: none;
  padding-left: var(--offset);
}

ul li::before {
  content: "\25A0";
  color: var(--c-secondary);
  font-weight: bold;
  display: inline-block;
  width: var(--offset);
  margin-left: calc(var(--offset) * -1);
}

li+li {
  padding-top: .5em;
}