@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

:root {
  /**
   * Colour palette
   */
  --c-ahs-blauw: hsl(190, 100%, 40%);
  --c-ahs-fuchsia: hsl(325, 100%, 40%);
  --c-ahs-grijs-donker: hsl(0, 0%, 47%);
  --c-ahs-grijs-donker-alpha: hsla(0, 0%, 47%, .2);
  --c-ahs-grijs-licht: hsl(0, 0%, 87%);
  --c-ahs-grijs-midden: hsl(0, 0%, 67%);
  --c-ahs-groen: hsl(65, 100%, 40%);
  --c-ahs-oranje: hsl(39, 100%, 47%);

  --c-neutral-100: var(--c-ahs-grijs-licht);
  --c-neutral-400: var(--c-ahs-grijs-midden);
  --c-neutral-700: var(--c-ahs-grijs-donker);
  --c-primary-400: var(--c-ahs-oranje);
  --c-secondary-400: var(--c-ahs-groen);
  --c-accent-a-400: var(--c-ahs-blauw);
  --c-accent-b-400: var(--c-ahs-fuchsia);

  /**
   * Layout
   */
  --l-gutter: 1rem;
  --l-unit: calc((1vw + 1vh) / 2);

  /**
   * Typography
   */
  --t-primary: 'Source Sans Pro', sans-serif;
  --t-secondary: var(--t-primary);

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
}