@import url('variables.css');
@import url('components/grid.css');

html[data-debug] body::after {
    background-color: rgba(0, 0, 0, .25);
    border-radius: .25rem;
    box-shadow: -.25rem .25rem .5rem 0 rgba(0, 0, 0, .50);
    color: white;
    content: '';
    display: block;
    margin: 1rem;
    padding: .5rem .75rem;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--c-ahs-grijs-licht);
    font-family: var(--f-body);
    height: inherit;
    margin: 0;
}

h1 {
    --c-shadow: var(--c-ahs-grijs-donker-alpha);
    color: white;
    font-family: var(--f-heading);
    text-shadow:
        1px 1px 1px var(--c-shadow),
        1px 2px 1px var(--c-shadow),
        1px 3px 1px var(--c-shadow),
        1px 4px 1px var(--c-shadow),
        1px 5px 1px var(--c-shadow),
        1px 6px 1px var(--c-shadow),
        1px 7px 9px hsla(0, 0%, 0%, .5);
}

@media (max-width: 575.99999px) {
    html[data-debug] body::after {
        content: "extra small device";
    }

    body {
        background-color: var(--c-quinary);
    }
}

@media (min-width: 576px) and (max-width: 767.99999px) {
    html[data-debug] body::after {
        content: "small device";
    }

    body {
        background-color: var(--c-primary);
    }
}

@media (min-width: 768px) and (max-width: 991.99999px) {
    html[data-debug] body::after {
        content: "medium device";
    }

    body {
        background-color: var(--c-secondary);
    }
}

@media (min-width: 992px) and (max-width: 1199.99999px) {
    html[data-debug] body::after {
        content: "large device";
    }

    body {
        background-color: var(--c-tertiary);
    }
}

@media (min-width: 1200px) {
    html[data-debug] body::after {
        content: "extra large device";
    }

    body {
        background-color: var(--c-quaternary);
    }
}