@import url('variables.css');
@import url('base.css');
@import url('components/grid.css');
@import url('debug.css');

@media (max-width: 575.99999px) {
  body {
    background-color: var(--c-quinary);
  }
}

@media (min-width: 576px) and (max-width: 767.99999px) {
  body {
    background-color: var(--c-primary);
  }
}

@media (min-width: 768px) and (max-width: 991.99999px) {
  body {
    background-color: var(--c-secondary);
  }
}

@media (min-width: 992px) and (max-width: 1199.99999px) {
  body {
    background-color: var(--c-tertiary);
  }
}

@media (min-width: 1200px) {
  body {
    background-color: var(--c-quaternary);
  }
}